<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="j" description="JasminXT" language="JasminXT" derivedFrom="DynamicRoot" validator="org.spoofax.lang.jasmin.JasminXTValidator" validatorClass="org.spoofax.lang.jasmin.JasminXTValidator"></language>
       </extension>
       <extension id="org.spoofax.lang.jasmin.parser" name="JasminXT Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.spoofax.lang.jasmin.JasminXTParseController" language="JasminXT">
          </parser>
       </extension>    
    </plugin>